$background-principal: #fcbac6;
$background-color-secundario: #ef6f8b;
$font-principal: 'Fira Sans', sans-serif;
$font-titulos: 'Alfa Slab One', cursive;
$color-text-principal: #4b2b33;
$sombreado: 0 0 12px #3d3d3d;