footer {
    background-color: #fdcfd9;
    display: grid;
    grid-area: footer;
    padding: .5rem;
    div {
        display: grid;
        place-items: center;
        img {
            height: 2rem;
            color: white;
            padding-left: .3125rem;
            padding-right: .3125rem;
        }
            a, p {
                display: grid;
                grid-template-columns: 1fr;
                text-align: center;
                font-family: $font-principal;
                line-height: normal;
                place-items: center;
            }
                .redes {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-column-end: 2;
                    column-gap:.4rem;
                }
            }
}