header {
    .banner {
        display: flex;
        width: 100%;
        img {
            background-size: cover;
            background-position: center center;
            width: 100vw;
            min-height: 64px;
        }
    }    
    nav {
        display: grid;
        grid-area: header;
        grid-template-columns: 1fr;
        background-color: $background-color-secundario;
        li {
            text-align: center;
            font-weight: bold;
            &:hover {
                background-color: $background-principal;
            }
        }
        a {
            color: $color-text-principal;
            text-decoration: none;
        }
    }
}