.contenedortarjetas-servicios {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    background-color: $background-principal;
    border-radius: 2rem;
    padding: .625rem 0px;
    .serv {
        display: grid;
        width: 70%;
        
        img {
            display: grid;
            width: 100%;
            grid-auto-rows: auto;
            margin: 1.5rem;
            box-shadow: $sombreado;
        border-radius: 2rem;
        overflow: hidden;
        }
        p {
            @include textos;

        }
    }
}
