.contenedortarjetas-servicios {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    background-color: $background-principal;
    border-radius: 2rem;
    padding: 1rem;
    .serv {
        display: grid;
        place-items: center;
        img {
            width: 15.625rem;
            height: 25rem;    
            margin: 1.2rem 0px;
            box-shadow: $sombreado;
            border-radius: 2rem;
            overflow: hidden;
            background-color: #fed3da;
        }
        p {
            @include textos;

        }
    }
}
