.contenedortarjetas-servicios {
    .formu {
        padding: .6875rem;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        .textoformu {
            @include textos;
            font-size: 1.2rem;
            font-weight: bold;
            line-height: 1.7rem;
            padding: .5rem .875rem;
        }
    }
}
#nombre, #email, #consulta {
    width: auto;
    opacity: 70%;
}
.enviar {
    background-color: $background-color-secundario;
    color: azure;
    font-weight: bold;
    opacity: 60%;
    border-radius: 1rem;
}