* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-principal;
    font-family: $font-principal;
    color: $color-text-principal;
    display: grid;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";

}