@media (min-width:1024px) {
    .contenedortarjetas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
.serv {
    img {
        width: 350px;
        height: auto;
    }
}