@media (min-width:768px) {
    nav {
        li {
            text-align: center;
            border-left: 1px solid $background-principal;
            font-weight: bold;
            text-decoration: none;
            &:first-child {
                border-left: none;
            }
            &:hover {
                background-color: $background-principal;
            }
        }
    }

    /* PRODUCTOS */
    .contenedortarjetas, .cardcontenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .card {
        width: 18.75rem;
        height: 500px;
        img {
            width: 18.75rem;
        }
    }

    .textotarjeta {
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1.25rem;
    }
    footer {
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        img {
            display: grid;
            align-items: stretch;
        }
        p {
            padding-top: .4375rem;
        }
    }
}