@media (min-width:768px) {
    nav {
        li {
            text-align: center;
            border-left: 1px solid $background-principal;
            font-weight: bold;
            text-decoration: none;
            padding: 4px;
            &:first-child {
                border-left: none;
            }

        }
    }

    .container {
        width: 95%;
    }
    .contenedortarjetas, .cardcontenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .card {
        width: 18.75rem;
        height: 500px;
        img {
            width: 18.75rem;
        }
    }
    .serv {
        display: grid;
        max-width: 50%;
    }
    .textotarjeta {
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 1.25rem;
    }
    footer {
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        img {
            display: grid;
            align-items: stretch;
        }
        p {
            padding-top: .4375rem;
        }
    }
}